faiss
google-generativeai
kagglehub
matplotlib
milvus
numpy
pandas
pathlib
pickle
pil
pymilvus
random
requests
sentence_transformers
shutil
sklearn
time
timeit
torch
torchinfo
torchvision
tqdm
transformers
zipfile
